<div>
  <link href="./config.css" rel="stylesheet" />
  <div class="config-container">
    <div class="config-container1">
      <div class="config-container2">
        <select class="config-select">
          <option value="True" selected>True</option>
          <option value="False">False</option>
        </select>
        <span class="config-text Body1"><span>Description</span></span>
      </div>
      <div class="primary-button-container primary-button-root-class-name1">
        <button class="primary-button-button MediumLabel button">
          <span>Button</span>
        </button>
      </div>
    </div>
  </div>
</div>
