<div>
  <link href="./config1.css" rel="stylesheet" />
  <div class="config1-container">
    <div class="config1-container1">
      <div class="config1-container2">
        <input
          type="text"
          placeholder="placeholder"
          class="config1-textinput input"
        />
        <span class="config1-text Body1"><span>Description</span></span>
      </div>
      <div class="primary-button-container primary-button-root-class-name">
        <button class="primary-button-button MediumLabel button">
          <span>Button</span>
        </button>
      </div>
    </div>
  </div>
</div>
