<div>
  <link href="./data-card.css" rel="stylesheet" />
  <div class="data-card-container">
    <div class="data-card-container1"></div>
    <h5 class="data-card-text Headline5"><span>Title</span></h5>
    <p class="data-card-text01 Headline6"><span>5KW</span></p>
    <div class="data-card-container2">
      <span class="data-card-text02"><span>Value1: 1</span></span>
      <span class="data-card-text03"><span>Value1: 2</span></span>
      <span class="data-card-text04"><span>Value1: 3</span></span>
    </div>
    <div class="data-card-container3">
      <span class="data-card-text05"><span>Value1: 1</span></span>
      <span class="data-card-text06"><span>Value1: 2</span></span>
      <span class="data-card-text07"><span>Value1: 3</span></span>
    </div>
    <div class="data-card-container4">
      <span class="data-card-text08"><span>Value1: 1</span></span>
      <span class="data-card-text09"><span>Value1: 2</span></span>
      <span class="data-card-text10"><span>Value1: 3</span></span>
    </div>
    <span class="data-card-text11"><span>Value1: 2</span></span>
  </div>
</div>
