.primary-button-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.primary-button-button {
  color: var(--dl-color-gray-white);
  align-self: center;
  transition: 0.3s;
  padding-top: 12px;
  border-width: 0px;
  padding-left: 32px;
  border-radius: var(--dl-radius-radius-radius6);
  padding-right: 32px;
  padding-bottom: 12px;
  background-color: #f53030;
}
.primary-button-button:hover {
  background-color: #f86969;
}
.primary-button-button:active {
  background-color: #7b7b7b;
}
.primary-button-root-class-name {
  align-self: center;
}
.primary-button-root-class-name1 {
  align-self: center;
}
